body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
input[type=text]{
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

  /* background-image: url("https://i.imgur.com/DHu3EOq.jpg"); */
 /* background: url("https://images.pexels.com/photos/2253926/pexels-photo-2253926.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");  */
  
   /* margin-left: auto;
  margin-right: auto;

} */
input[type=password]{
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}
.login {
  font-family: cursive;
}
.jobs{
    width: 22vw;
    height: 28vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5vh auto;
    color: white;
    font-size: 1.1em;
    opacity: 1;
    transition: 0.5s;
    box-shadow: 3px 3px 3px 3px black;
  
}
.register{
  font-family: cursive;
}
.submit{
  font-family: cursive;
}
input[type=text]:focus {
  background-color: lightblue;
}
p{
  font-family: cursive;
  text-align: right;
}
.logout{
  width: 150px;
  font-size: 30px;
  padding: 10px;
  margin: 0px 0px 0px 200px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 60px;
  color: white;
  background-color: #333333;
  border: 3px solid rgb(63, 127, 191, 0.9);
  outline: none;
}
input[type=submit] {
  width: 150px;
  font-size: 30px;
  padding: 10px;
  margin: 3px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 60px;
  color: white;
  background-color: #333333;
  border: 3px solid rgb(63, 127, 191, 0.9);
  outline: none;
}
.AboutClass {
  display: flex;
  flex-direction: column;
  text-indent: 60px;
  padding: 30px;
  letter-spacing: 3px;
  line-height: 1.8;
direction: rtl;
  word-spacing: 10px;
  color: black;
  text-shadow: 3px 2px white;
  text-transform: capitalize;
}
.AboutImg{
  max-width: 100%;
  height: 250px;
  /* margin-right: auto;
  margin-left: auto; */
}
.listImg{
max-width: 20%;
height: 40px;
}
.ImgP{
  text-align: center;
}
.Footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}

.group{
    width: 100%;
    margin: 40px;
    padding: 30px;
    max-width: 450px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.note{
  position: relative;
  font-weight: 400;
  padding: 20px 0px 0px 0px;
  font-size: 12px;
  text-align: center;
  color: black;
  text-transform: none;
}
ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}