
body {
 font-family: 'Courier New', Courier, monospace;
  margin-left: auto;
  margin-right: auto;
}
.anim{
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; 
  -webkit-animation-duration: 4s; 
  -webkit-animation-iteration-count: 2; 
  -webkit-animation-direction: alternate; 
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate;  
}

a:hover {
  background-color: red;
  color: black;
    letter-spacing: 8px;
}
input[type=text]{
  width: 12vw;
  height:4vh;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}
.submit {
  width: 5vw;
  height: 1vh;
  font-size: 8px;
  padding: 14px;
  margin: 6px 5px 6px 5px;
  text-align: center;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 20%;
  color: white;
  background-color: #333333;
 
  outline: none;
}
.registerButton{
  width: 5vw;
  height: 1vh;
  font-size: 8px;
  padding: 14px;
  margin: 6px 5px 6px 0px;
  text-align: center;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 20%;
  color: white;
  background-color: #333333;
  outline: none;
}
input[type=password]{
  width: 12vw;
  height:4vh;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}
.header {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  box-shadow: 2px 2px 10px 3px black;
  width: 100%;
  background-color: #000025;
 
}
.imgCenter{
  position:absolute;
  left:0px;
  top:0px;
  z-index:-1;
}
/* .AboutPosition{
  display: flex;
  flex-direction: row; 
  width: 100%;
} */

html {
  scroll-behavior: smooth;
}
.login{
display: flex;
justify-content: right;
flex-direction: row;
}
.Footer{
  position: fixed;
  left: 0; 
  bottom: 0; 
   width: 100%; 
  height:8vh;
  color: white;
  text-align: right;
  /* background-color:rgb(160, 153, 170); */
background-color: #000025;
}

.logo {
  width: 20vw;
  color: red;
  /* border: 4px solid red; */
  height: 10vh;
}
.group{
  padding: 6em 0em 0em 0em;
  max-width: 50vw;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  height: 40vh;
}
.register {
  display: flex;
  flex-direction: row;
  height: 3vh;
}

.homeImg{
  background: url("https://imgur.com/yO1qEVS.png");
  border: 4px solid red;
  background-size: cover;
  position: absolute;
}

.homePageFormDiv {
  display: flex;
  flex-direction: column;
  width: 99vw;
  height: 20vh;
  margin: 12vh auto;
}

.homepageForm {
  display: flex;
  flex-direction: row;
  width: 60vw;
  height: 5vh;
  margin-top: 10vh;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-bottom: 5vw;
  box-shadow: 2px 2px 10px 3px black;
  position: relative;
  background-color:#333;
}

.jobTitle {
  width: 30vw;
  font-size: 1em;
  height: 5vh;
  box-shadow: 2px 2px 10px 3px black;
  position: relative;
  border-radius: 10em;
}

::placeholder {
  opacity: 0.3;
}

.location {
  width: 30vw;
  font-size: 1em;
  height: 5vh;
  box-shadow: 2px 2px 10px 3px black;
  position: relative;
  border-radius: 10em;
}

#searchButton {
  /* display: inline-block; */
  width: 7vw;
  height: 5vh;
  font-size: 10px;
  padding: 10px;
  /* margin: 6px 5px 6px 0px; */
  text-align: center;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 20%;
  color: white;
  background-color: #333333;
  outline: none;

}
select{
  background-color: white;
}
.top3Jobs {
  display: flex;
  flex-direction: row;
  margin-bottom: 20vw;
 
}

.home3Jobs{
  width: 22vw;
  /* height: 28vh; */
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 25vh auto;
  color: black;
  font-size: 1.1em;
  opacity: 1;
  transition: 0.5s;
  box-shadow: 3px 3px 3px 3px black;
  transition: opacity 1s ease-in-out;
  transform: translate3d(0, 0, 0);
}

.jobCard {
  width: 20.5vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2vh auto;
  color: black;
  font-size: 1.1em;
  opacity: 1;
  transition: 0.5s;
  box-shadow: 3px 3px 3px 3px black;
  font-family: "Lucida Console", Monaco, monospace;
  padding: 10px;
}

.jobCard:hover{
  transform: scale(1.05);
}
.JobDiv{
  background: url("https://imgur.com/yO1qEVS.png");
  border: 4px solid red;
  background-size: cover;
  position: absolute;

}
.jobCardDiv{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1vw;
  margin: 10vh 5vw 0 5vw;

}


@keyframes bannerResults {
  0% {
    opacity: 0.1;
  }
  10% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.4;
  }
  30% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.1;
  }
}

.home3Jobs:hover {
  opacity: 1;
  transform: scale3d();
}

.jobCreateForm {
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 30vw;
  border-radius: 5px;
  margin: 10vh auto;
}

#jobTitle{
  height: 3vh;
  border-radius: 5px;
}
#jobId{
  height: 3vh;
  border-radius: 5px;
}
#jobDescription{
  height: 15vh;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#jobRequirement{
  height: 15vh;
  border-radius: 5px;
  overflow: scroll;
}

#jobLocation{
  height: 3vh;
  border-radius: 5px;
}

#jobSalary{
  height: 3vh;
  border-radius: 5px;
}

#jobSubmit{
  padding: 10px 15px;
  font-size: 1.5em;
  border-radius: 5px;
  -webkit-appearance: none;
  background-color: lightgreen;
}


.AboutClass {
  display: flex;
  flex-direction: column;
  text-indent: 1.2em;
  padding: 2em;
  text-align: center;
  letter-spacing: .2em;
  line-height: 1.3em;
  direction: rtl;
  word-spacing: 2px;
  color: black;
  margin-top: 10vh;
  margin-right: auto;
  margin-left: auto;
  width: 75%; 
  border: .2em solid #ccc;
  height: 85vh;
  text-shadow: 1px 1px darkseagreen;
  text-transform: capitalize;
}
.AboutImg{
  max-width: 100%;
  height: 50vh;
  padding:1em;
}
.listImg{
  max-width: 20vw;
  height: 10vh;
}
.ImgP{
  text-align: center;
}
.note{
  position: relative;
  font-weight: 400;
  padding: 20px 0px 0px 0px;
  font-size: 12px;
  text-align: center;
  color: black;
  text-transform: none;
}
ul {
  list-style-type: none;
  overflow: hidden;
  background-color:  #000025;
}
.left{
  float: left;
  font-size: 30px;
}
.welcome{
  font-size:1em;
  margin: 1em;
  float: right;
  color: wheat;
}
.right{
  float: right;
  font-size: 1em;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav{
  width:100vw;
}
@media only screen and (max-width: 960px) {
  nav {
    background-color: lightseagreen;
  }
  a {
    float: none;
    width: 100%;
  }
  .AboutClass{
    background-color: lightgray;
    text-align: center;
    height: unset;
  }
  li {
    float: none;
  }
}

@media only screen and (max-width: 400px) {
 
  .nav {
    background-color:  lightseagreen;
  }
  a:hover {
   background-color: white;
  }
  .group{
    height: unset;
    background-color: lightgray;
  }
  .listImg{
    background-color: lightgray;
    max-width: unset;
    height: unset;
  }
  footer{
    padding: 100px 0px 0px 0px;
  }
  .AboutClass{
    background-color: lightgray;
    text-align: center;
    height:auto;
  }
  .group{
    float: none;
  }
  .listImg{
      width: 100%;
      height: auto;
  }
 
  li {
    float: none;
  }
}
